<div class="col-md-6 mt-3">
    <nav aria-label="Site pagination">
        <ul class="pagination justify-content-center">

            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link text-dark rounded-0" href="?page=1">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link text-dark" href="?page={{ posts.previous_page_number }}">Previous</a>
                </li>
            {% endif %}

            {% for num in paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link bg-black rounded-0 text-white border-0" href="?page={{ num }}">{{ num }}<span class="visually-hidden"></span></a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link text-dark" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link text-dark rounded-0" href="?page={{ posts.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link text-dark rounded-0" href="?page={{ posts.paginator.num_pages }}">Last</a>
                </li>
            {% endif %}

        </ul>
    </nav>
</div>
