    <!-- Column 1 -->
    <div class="col-md-3 mb-5-sm">
        <div class="text-center">
            <i class="fa-regular fa-heart text-black fa-2xl"></i>
            <p class="h5 font-weight-bold text-black mt-3">WITH LOVE FROM EKM</p>
            <div class="text-muted p-3">
                <p>Every Order is packed and checked by Keyboard Lovers who share the same passion about this Hobby as our Customers.</p>
            </div>
        </div>
    </div>
    
    <div class="col-md-3 mb-5-sm">
        <div class="text-center">
            <i class="fa fa-truck text-black fa-2xl"></i>
            <p class="h5 font-weight-bold mt-3 text-black">FAST PROCESSING TIME</p>
            <div class="text-muted p-3">
                <p>Every Order is processed and shipped on the next business day.</p>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-5-sm">
        <div class="text-center">
            <i class="fa fa-headset text-black fa-2xl"></i>
            <p class="h5 font-weight-bold mt-3 text-black">TOP-NOTCH SUPPORT</p>
            <div class="text-muted p-3">
                <p>Our Teams does its best to answer every question within 24h via Mail or Discord.</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="text-center">
            <i class="fa-regular fa-face-smile text-black fa-2xl"></i>
            <p class="h5 font-weight-bold mt-3 text-black">DISCORD COMMUNITY</p>
            <div class="text-muted p-3">
                <p>The EasyKeyboardMaker Discord Community is growing every day and offers a friendly environment, support and is the best place to get news on events or giveaways.</p>
            </div>
        </div>
    </div>