{% extends "base.html" %}
{% load static %}

{% block extra_title %} 403 {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Error handler 403 page -->
    <section>
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <hr>
                    <h2 class="logo-font mb-4">Error</h2>
                    <h5 class="text-muted">403 Message</h5>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <h1>"Forbidden"</h1>
                    <h3>Uh-oh! Access denied. It's like trying to enter a party without the secret handshake. Let's get you back to the shindig!</h3>
                </div>
            </div>
        </div>
    </section>
{% endblock %}