{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Delete Article {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div> <!-- Making overlay over the background image to white background instead -->
    <div class="container-fluid main-content-container h-100">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Delete Post</h2>
                <hr class="w-50 mb-1"><!-- Hr line for devision -->
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-2 mt-md-4 pb-5">

                            <h3 class="fw-bold mb-4 text-uppercase">Please Wait...</h3>
                            <p class=" mb-5">Are you sure you want to DELETE article <strong>
                                    {{ post.title }}</strong> ?</p>
                            <!-- Post delete form -->
                            <form method="post">
                                {% csrf_token %}<!-- Security token from django against attackers -->
                                <div class="col-md-2 mx-auto">
                                <button class="btn btn-black rounded-0 right px-3 py-1 btn-block" type="submit"> <i
                                        class="fas fa-trash-alt"></i> Delete</button>
                                    </div> 
                            </form>
                            <div class="col-md-2 mx-auto">
                            <a class="btn btn-black rounded-0 mt-4 btn-block" href="{% url 'blog' %}"> Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
