{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Refund policy {% endblock %}

{% block page_header %}
    <header>
        <div class="container header-container">
            <div class="row">
                <div class="col"></div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container main-content-container h-100">
        <article>
            <div class="row">
                <div class="col-12 col-md-6">
                    <hr>
                    <h2 class="logo-font mb-4">Return Policy</h2>
                    <h3 class="text-muted">Return for Users</h3>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <section>
                        <p>We appreciate your support and strive to provide the best products and service possible. This
                            Return Policy is applicable to all purchases made through our website.</p>
                    </section>

                    <section>
                        <h2>1. Right of Withdrawal (Cooling-off Period)</h2>
                        <p>As a consumer in the European Union, you have the right to withdraw from the contract within 14
                            days without giving any reason.</p>
                        <p>The withdrawal period will expire after 14 days from the day on which you acquire, or a third
                            party other than the carrier and indicated by you acquires, physical possession of the goods.
                        </p>
                    </section>

                    <section>
                        <h2>2. Returns</h2>
                        <p>We accept returns within the following conditions:</p>
                        <ul>
                            <li>For standard products (keyboards), returns are accepted within 14 days of the purchase date.
                            </li>
                            <li>For custom-made products (handmade keycaps), returns are not accepted unless the product is
                                faulty or does not conform to the agreed specifications.</li>
                            <li>The item must be in its original condition and packaging.</li>
                            <li>Proof of purchase is required.</li>
                        </ul>
                    </section>

                    <section>
                        <h2>3. Refunds</h2>
                        <p>Once your return is received and inspected, we will notify you of the approval or rejection of
                            your refund.</p>
                        <p>If your refund is approved, it will be processed, and a credit will automatically be applied to
                            your credit card or original method of payment, within 14 days.</p>
                    </section>

                    <section>
                        <h2>4. Shipping</h2>
                        <p>Shipping costs are refundable only in the case of withdrawal within the 14-day cooling-off
                            period. If you receive a refund due to withdrawal within this period, we will also reimburse the
                            standard delivery costs from us to you.</p>
                        <p>If you are returning items outside the 14-day cooling-off period or for reasons other than
                            withdrawal (e.g., faulty or non-conforming goods), the cost of return shipping will be your
                            responsibility, and it will be deducted from your refund.</p>
                    </section>

                    <section>
                        <h2>5. Contact Us</h2>
                        <p>If you have any questions about our Return Policy, please contact us:</p>
                        <ul>
                            <li>Email: <a href="mailto:support@easykeyboardmaker.com">support@easykeyboardmaker.com</a></li>
                            <li>Phone: (+46) 73 688 63 30</li>
                        </ul>
                    </section>
                </div>
            </div>
        </article>
    </div>
{% endblock %}